/* WeatherApp.css */

/* Container styling */
.weather-app-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  /* Title styling */
  h1 {
    text-align: center;
    color: rgb(17, 16, 17);
  }
  
  /* City selection styling */
  .city-select-container {
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  select {
    padding: 8px;
    font-size: 16px;
  }
  
  /* Weather data styling */
  .weather-data-container {
    background-color: #a39ea0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Chart styling */
  .recharts-wrapper {
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }