
.hero.is-primary {
    background-color: #18a4c751; 
    color: rgb(8, 1, 4); 
  }
  
  .hero-body {
    padding: 2rem 0; 
  }
  
  .title {
    font-size: 2rem;
  }
  
  .navbar {
    margin-top: 1.5rem; 
  }
  
  .navbar-item {
    margin-right: 1rem; 
    color: rgb(9, 1, 1); 
    text-decoration: none; 
  }

  .navbar-start {
    display: flex;
    justify-content: right;
    align-items: flex-start;
  }
  
  .navbar-item:hover {
    color: #d81985;
  }
  